/*CONFIGURACION DEL ENCABEZADO*/

/* Establece una imagen de fondo para el encabezado */
#mi-encabezado {
background-image: url('img/fondodf.png'); /* Reemplaza 'ruta-de-tu-imagen.jpg'
con la ubicación de tu imagen */
background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
background-position: center; /* Centra la imagen en el encabezado */
height: 35rem; /* Altura del encabezado (ajusta según tus necesidades) */

color: #ffffff; /* Color del texto en el encabezado para asegurar la legibilidad */
text-orientation: upright;
text-align: center; /* Alinea el contenido al centro del encabezado */
padding: 20px; /* Espacio de relleno interno para el contenido */

}

/* Estilos adicionales para el Título en el encabezado */
#mi-encabezado h1 {
font-size: 45px; /* Tamaño de fuente del título */
font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
}

/* Estilos adicionales para el texto en el encabezado */
#mi-encabezado p {
font-size: 25px; /* Tamaño de fuente del texto del encabezado */
}

/*CONFIGURACION DEL MENU*/

/* Establece el fondo transparente para el menú */
nav {
background-color: rgba(255, 255, 255, 0);
padding: 20px;
position: fixed; /* Posiciona el menú en la parte superior de la página */
top: 0;
left: 0;
width: 100%;
transition: background-color 0.5s; /* Transición suave para el cambio de color de
fondo */

}

/* Estilos para los elementos menu*/
ul {
list-style-type: none;
text-align: right;
margin-right: 3rem;
}

/*elementos de la lista del menu*/
li {
display: inline;
margin-right: 30px; /* Espacio entre elementos del menú */
}

a {
text-decoration: none;
color: #a44cdf; /* Color del texto del menú */
font-weight: bold;
}

/* Cambia el color del enlace cuando se pasa el mouse por encima */
a:hover {
color: #7637a0; /* Cambia el color al pasar el mouse por encima */
}

/*CONFIGURACION DEL BODY*/
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;

    background:
    linear-gradient(rgba(0,0,0,0.275), rgba(0, 0, 0, 0.275)),
    url("img/fondobd.png");

    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: white;

    overflow-x: hidden;
}


/*CONFIGURACION DEL CONTENIDO*/
.contenido {
/* configura el color, tamaño de fuente y alineación del texto en el cuerpo de la
página */
color: #ffffff;
font-size: 20px;
padding: 5%;
text-align:justify;

font-family: Arial, Helvetica, sans-serif;
}

.footer {
background-color: rgb(93, 0, 155); /* Cambia el color de fondo a azul */
padding: 5rem;
color: #fffdfd;
color: #ffffff; /* Color del texto en el encabezado para asegurar la legibilidad */
text-align: center; /* Alinea el contenido al centro del encabezado */
/* Espacio de relleno interno para el contenido */

}
